/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gradient-text {
    background: linear-gradient(45deg, #e63946, #1d3557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}