/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gradient-text {
    background: linear-gradient(45deg, #2563eb, #4f46e5);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
}